/* Add the following styles to your existing CSS */


.tasktracker{
    background-color: #e5e5e5;
    box-shadow: 1px 1px 12px 1px #ababab;
    border-radius: 24px;
    width: 250px;
    margin: 5px;
}

.tasktracker-container{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.tasktracker-container h2{
    color: #176dd8;
    margin-right: 5px;
}

.tasktracker-task{
    
    height: 90%;
    overflow: scroll;
}

.single-task {
    margin-bottom: 20px;
  }
  
  .single-task input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Adjust the step styles */
  .single-task .step {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .single-task .step input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .single-task .step textarea {
    margin-right: 5px;
  }
  