.tasktracker{
    background-color: lightgrey;
    grid-area: tasktracker;
}



.tasktracker-container{
    display: flex;
}

.addtask-container{
    border: 1px solid red;
}

.progress-bar{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

.step{
    border: 1px solid blue;
    display: flex;
    align-items: start;    
}