/* Add the following styles to your existing CSS */


.tasktracker{
    background-color: rgba(229, 229, 229, 0.4);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    margin: 5px;
}

.tasktracker-container{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.tasktracker-container h2{
    margin-right: 5px;
}

.tasktracker-task{
    
    height: 90%;
    overflow: scroll;
}


  