
.Calendar{
    background-color: rgba(229, 229, 229, 0.4);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
    Width: 500px;
    margin: 5px;
    color: #176dd8;

}

.Calendar h2{
    margin-left: 20px;
}

.Week-container{
    display: flex;
    height: 200px;   
}

.Day{
    height: 100%;
    width: 100%;
}

.Week-container button{
    width: 20px;
    height: 40px;
}