.Calendar{
    background-color: lightyellow;
    Width: 500px;
    margin: 5px;
}

.Week-container{
    display: flex;
    flex-direction: column;
    border: solid 1px blue;
}

.Day{
    border: solid red 1px;
    height: 100%;
}