.Notifications{
    background-color: #e5e5e5;
    box-shadow: 1px 1px 12px 1px #ababab;
    border-radius: 24px;
    height: 300px;
    margin: 5px;
    padding: 10px;
}

.Notifications-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Flag-container{
    display: flex;
    justify-content: space-around;
}

.Drafted-messages{
    height: 100px;
    color: #ebebeb;
}

.Flag-container {
    display: flex;
    justify-content: space-around;
  }
  
  .Drafted-messages {
    height: 150px;
    overflow-y: auto; /* Enable vertical scroll if messages exceed container height */
  }
  
  /* Style for each urgency */
  .Drafted-messages li{
    border-radius: 16px;
    font-size: 11px;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
  }
  
  /* Red urgency style */
  .Drafted-messages li.urgent-red {
    background-color: #b21f1a;
  }
  
  /* Yellow urgency style */
  .Drafted-messages li.urgent-yellow {
    background-color: #ecd100;
  }
  
  /* Green urgency style */
  .Drafted-messages li.urgent-green {
    background-color: #008f00;
  }