.NotificationCentre {
    border: 1px solid blue;
    display: flex;
    flex-direction: row; /* Stack items vertically */
     /* Center items horizontally */
}

.Table-container {
    width: 66%;
    overflow-x: auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Add horizontal scrolling if needed */
}

.Table-container td {
     /* Align the content in the center of the cells */
  }

.Table-container th:not(:first-child),
.Table-container td:not(:first-child) {
  border-left: 1px solid #dddddd; /* Add border to the left of each cell except the first one */
}

.message-widget{
    background-color: rgba(229, 229, 229, 0.4);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 66%;
    
}
