.Homepage-container {
    border: 1px solid purple;
     /* Set your desired maximum width */
    margin: 0 auto;    /* Center the container on the page */
  }

.Homepage-display{
    background-color: lightblue;
    display: flex;
    /* display: grid;
    grid-template-areas: 
    'tasktracker calendar notification'
    'tasktracker calendar contacts'
    'tasktracker calendar contacts'
    ; */
    height: 500px;
    border: solid 1px blue;
}



